.all-movies-list{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-decoration: none;
    list-style: none;
    margin: 20px 0;
    .movie{
        margin: 10px 15px;
        .link{
            text-decoration: none;
            .movie-img{
                width: 90%;
                transition: all .3s ease-in;
                .img{
                    width:100%;
                    height: 100%;
                }
            }
            .movie-title{
                margin: 15px 0;
                color:rgba(8,28,36,.5);
                transition: all .3s ease-in;
            }
        }
        &:hover{
            .movie-img{
                transform: scale(1.05);
                transition: all .3s ease-out;
            }
            .movie-title{
                color:#081c24;
                transition: all .3s ease-out;
            }
        }
    }
}