body {
	margin: 0;
	background-color: #ccc;
	padding: 24px;
	font-family: 'Red Hat Display', sans-serif;
    color:rgba(8,28,36,.5);
}

.container {
	margin-left: 120px;
	box-sizing: border-box;
	width: calc(100% - 120px);
	float: left;
}
